NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}
.NavigationItem a {
  columns: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover {
    background-color: rgb(216, 165, 115);
}
.NavigationItem a:active {
  background-color: rgb(211, 145, 70);
  border-bottom: 4px solid blue;
  color: white;
}
